
.container {
  width: 80%;
  margin: auto;
  font-family: "Raleway";
}
h2{
  color:white;
  font-size: 30px;
}

.first{
  background-color: #759eda;
  height: 13vh;
}

.first input{
  margin: auto;
  padding: auto;
  margin-top: 3.5vh; 
  font-family: "Raleway";
  font-size: 28px;
}
[name="search"]{
  font-size: 23px ;
}
#city{
  border: none;
  background-color: #759eda;
  padding-left: 20px;
  color: white;
  outline: none;
}
#search{
  background-color: #5879c7;
  border: none;
  height:40px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 3%;
}
.second{
  background-color: #9ccef4;
  height:87vh;
}
.mostlycloudy{
  width:220px;
  height: 220px;
  margin: auto;
  display: flex;
  align-items: center;
  padding-top: 5vh;
}
.images{
  display: flex;
  width:100px;
  height: 100px;
  justify-content: space-around;
  width:80%;
  margin: auto;
}

.bolded{
  font-weight: 900;
}

.half{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3px;
}
.hours{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  width:90%;
  margin: auto;
}
.Temp{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  width:90%;
  margin: auto;
}
.col{
  margin-top: 100px;
}
.blue{
  color: darkblue;
  text-align: center;
  line-height: 35px;
}

.bigger{
  font-size: 25px;
}
.smaller{
  word-spacing: 19px;
}